# Ignora entornos virtuales y archivos temporales
__pycache__/


# Archivos de entorno
*.env
.gitignore
.git
deveraai-firebase.json
entorno_virtual

# Ignorar este notebook específico
src/agente_co2/lectura_entrada.ipynb
